#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.jersey {
  font-family: "Jersey 20", sans-serif;
}

.jersey-25 {
  font-family: "Jersey 25", sans-serif;
}

.micro {
  font-family: "Micro 5", sans-serif;
}
